---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

const { date, format = "YYYY-MM-DD" } = Astro.props;
---

<span class="shrink-0">{dayjs(date).format(format)}</span>
